<div class="priority">
    <div class="priority__header">
        <h1>{{priority.title}}</h1> 
        <button class="button__back" (click)='goBack()'> X </button>
    </div>
    
    <h3>Status: <span>{{priority.status}}</span></h3>
    <div class="priority__category" *ngIf='priority.category'>
        <h3>Category: <span>{{priority.category.charAt(0).toUpperCase() + priority.category.slice(1)}}</span></h3> 
        <div class="category__icon">
                                
            <div *ngIf ="priority.category === 'health'">
                <mat-icon>favorite</mat-icon>
            </div>
            <div *ngIf ="priority.category === 'mind'">
                <mat-icon>psychology</mat-icon>
            </div>
            <div *ngIf ="priority.category === 'work'"> 
                <mat-icon>computer</mat-icon>
            </div>
            <div *ngIf ="priority.category === 'hobby'">
                <mat-icon>brush</mat-icon>
            </div>
        </div>     
        
    </div>
    
    <h3>Description</h3>
    <p class="description">{{priority.description}}</p>
    <div class="dates">
        <div class="date__created">
            <h3>Date Created: </h3>
            <p class="description">{{priority.dateCreated | date:'longDate'}}</p>
        </div>
        <div class="date__target">
            <h3>Target Completion Date: </h3>
            <p class="description">{{priority.targetCompletionDate | date:'longDate'}}</p>
        </div>
    </div>
    <div class="priority__notes">
        <div class="notes__header">
            <h3>Progress Notes: ({{priority.entries?.length}})</h3>
            <button class="button__addNote" *ngIf='!newNote' (click)='addNoteClicked()'>
                +Add Note
            </button>
        </div>
        
        <div class="note" *ngFor='let note of priority.entries'>
            <p><strong>Created on {{note.dateCreated | date:'longDate'}}</strong></p>
            <p>{{note.description}}</p>
        </div>
        <div class="notes__addNote" *ngIf='newNote'>
            
                <textarea name="noteValue" [(ngModel)]="noteValue" id="note__input" placeholder="Add a Note" cols="40" rows="5"></textarea>
                <br>
                <div class="addNote__buttons">
                    <button class='button__addNote' (click)='addNote()' [disabled]="!noteValue">Submit Note</button>
                    <button class='button__addNote' type='button' (click)='newNote = false'>Cancel</button>
                </div>

        </div>
    </div>
    <div class="priority__buttons" *ngIf='!newNote'>
        <button class="button__completed" [disabled]="priority.status === 'Complete'" (click)='markComplete()'>
            Mark Complete
        </button>
       
        <button class="button__delete" (click)='deletePriority()'>
           Delete Priority
        </button>
    </div>

</div>
